.footer{
  background-color:#1f1f1f;
  /*Минимальная высота блока footer: 350px;*/
  min-height:350px;
  position:relative;
  padding-top:60px;
  padding-bottom:40px;
  box-sizing:border-box;
  display:flex;
}
